/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /*Все что касается шрифтов */
    --regular_font: 'Inter Regular';
    --accent_font: 'Press Start 2P Regular';
    --text_weight: 400;
    --title_weight: 700;
    --heading_font_size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
    --subheading_font_size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
    --text_size: 1.125rem;
    --button_size: 0.875rem;
    /*Отступы */
    --header_gap: 1.25rem;
    --page_top_margin: 7.083dvh;
    --header_padding_top_bottom: 8.9%;
    --header_padding_left_right: 8.4%;
    --header_cards_gap: 10.417vh;
    --title_padding_top: 0.333vh;
    --title_padding_bottom: 0.333vh;
    --title_padding_right: 1.458vw;
    --title_padding_left: 0.694vw;
    --card_content_padding: 25px;
    --cards_gap: 5.208vh;
    --button_text_padding: 1%;
    --button_gap: 7px;
    --section_gap: 5.208vh;
    --section_bottom_gap: 10.417vh;
    --decoration_text_paddings: 1.736dvh;
    --popup_padding_tb: 3.125vh;
    --popup_padding_lr: 3.125vh;
    --popup_content_gap: 1.389vw;
    /*Размеры */
    --card_size: clamp(375px, calc(23.4375rem + ((1vw - 3.75px) * 30.1408)), 696px);
    --border_size: 2px;
    --img_size: 100%;
    --button_like_size_inline: 130px;
    --button_like_size_block: 38px;
    --icon_like_size_inline: 36px;
    --icon_like_size_block: 39px;
    --button_no_icon_size_inline: 9.028dvw;
    --button_save_size_inline: 335px;
    --button_save_size_block: 55px;
    --icon_save_size: 21px;
    --icon_popup_save_size: 2.708dvh;
    --popup_size_inline: calc(22.3125rem + ((1vw - 0.234375rem) * 0));
    --popup_size_block: 13.264dvh;
    --close_button_size_inline: 20.347dvw;
    --close_button_size_block: 2.639dvh;
    --popup_text_size: calc(14.625rem + ((1vw - 3.75px) * 0));
    /*Цвета */
    --background_color: #fff;
    --card_color: #fff;
    --accent_color: #000;
    --heart_contour_color: #000;
    --heart_main-body_color: transparent;
    --heart_core_color: transparent;
    --heart_sparks_color: #f00;
    --main_color: #fff;
    --border_color: #000;
    --decoration_text_color: rgba(0, 0, 0, 0.5);
    --decoration_text_stroke: rgba(255, 255, 255, 0.5);
    --button_hover_color: rgb(0, 0, 0);
    /*Разное */
    --button_save_direction: row;
    --background_gradient: 
        repeating-linear-gradient(to right, rgb(211, 211, 211) 0 2px, rgba(211, 211, 211, 0) 2px 4px), 
        repeating-linear-gradient(to bottom, rgb(211, 211, 211) 0 2px, rgba(211, 211, 211, 0) 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a );
}

    @media (width <= 376px) {
    :root {
        --header_padding_top_bottom: 32%;
        --header_padding_left_right: 3.7%;
        --button_save_size_inline: 306px;
        --button_save_size_block: 84px;
        --button_save_direction: column;
        --popup_padding_tb: 4.498vh;
        --popup_padding_lr: 10.667vw;
        --popup_text_size: 100%;
        --popup_content_gap: 5.333vw;
        --title_padding_top: 0.6dvh;
        --title_padding_bottom: 0.9vh;
        --title_padding_right: 3.2vw;
        --title_padding_left: 3.2vw;
        --icon_save_size: 28px;
        --header_cards_gap: 14.993vh;
        --cards_gap: 7.496vh;
        --section_bottom_gap: 14.993vh;
    }
    }